@model Dish

<div>
    <h1>Add A Dish!</h1>
    <a href="/dishes/all">Home</a>
    <form asp-controller="Dish" asp-action="Create">
        <label asp-for="Name"></label>
        <input asp-for="Name">


        <select asp-for="ChefId">
            @foreach (Chef chef in ViewBag.AllChefs)
            {
                <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
            }
        </select>


        <label asp-for="Calories"></label>
        <input asp-for="Calories">

        <label asp-for="Tastiness"></label>
        <select asp-for="Tastiness">
            <option default selected>please rate your dish</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        <label asp-for="Description"></label>
        <input asp-for="Description">

        <button type="submit">Add Dish</button>
    </form>
</div>